section {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-column-gap: 40px
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 50px;
    align-items: center;

}
header img {
    justify-self: left;

}

header nav {
    justify-self: right;
}